.water-Rates-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  zoom: 1.15;
  
  }
  
  
  .data-Rates-table {
    width: 100%;
    border-collapse: collapse;
    margin-inline: auto;
    margin-bottom: auto;
  }

  .submit-button-WaterReportForm {
    padding: 2vh 4vw;
    border: 100px;
    border-radius: 2vh;
    background-color: #28a745;
    font-weight: bold;
  transition: background-color 0.2s;
    color: white;
    font-size: 1.2rem;
    margin-left: 30%;
  }

  .submit-button-WaterReportForm:hover {
    background-color: #24963e;
    color:white;
    font-weight: bold;
  }

  .modal-edit-button {
    padding: 1vh 2vw;
    border: none;
    border-radius: 2vh;
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }

  .modal-edit-button:hover {
    background-color: #1493a7;
    color:white;
    font-weight: bold;
  }

.modal-back-button {
    padding: 1vh 2vw;
    border: none;
    border-radius: 2vh;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
  }

  .modal-back-button:hover {
    background-color: #c5303f;
    color:white;
    font-weight: bold;
  }

  .upcoef-container{
    background-color: #f9f9f9;
  padding: 1.4vh 1vw;
  border-radius: var(--border-radius-bacground);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 641px;
  }  

  .rates-container{
    background-color: #f9f9f9;
  padding: 1.4vh 1vw;
  border-radius: var(--border-radius-bacground);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 641px;
  }

  .pagination-button {
  padding: 1.25vh 3vw;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 2vh;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.pagination-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-button:hover:not(:disabled) {
  background-color: #45a049;
}
