.custom-select {
  margin-top: 1vh;
  padding: 0.5em 1em;
  width: fit-content;
  font-size: 1.4rem;
}

.narrow-input {
  width: fit-content;
  padding: 0.4em;
  font-size: 23px;
  border: 0px;
  text-align: center;
}

.selectors {
  display: flex;
  justify-content: center;
  gap: 2vw;
  margin-bottom: 2vw;
  flex-wrap: wrap;
}

.selectors li {
  margin-bottom: 1vh;
}

.data-table-result {
  width: fit-content;
  max-width: max-content;
  margin: 3vh auto;
  overflow: hidden;

  border-radius: 2vh;
  background-color: silver;
  border-spacing: 0;
  border-collapse: separate; /* обязательно! */
}

.data-table-result th,
.data-table-result td {
  padding: 1vh 1vw;
}

/* Скругление только для углов таблицы */
.data-table-result thead tr:first-child th:first-child {
  border-top-left-radius: 2vh;
}

.data-table-result thead tr:first-child th:last-child {
  border-top-right-radius: 2vh;
}

.data-table-result tbody tr:last-child td:first-child {
  border-bottom-left-radius: 2vh;
}

.data-table-result tbody tr:last-child td:last-child {
  border-bottom-right-radius: 2vh;
}

.data-table-result thead {
  background-color: #b9b9b9;
}


.selector-row {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 2vh 2vw;
  border-radius: 1em;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
  min-width: 180px;
  position: relative;
}

.selector-row  label{
  font-weight: bold;
  margin-bottom: 1vh;
}


.selector-row  select {
  border: 1px solid #ccc;
  border-radius: 1em;
  background-color: white;
  cursor: pointer;
}

.content-container_waterReropt {
  padding:
  inherit;
  padding-right: inherit;
  padding-left: inherit;
  background-color: #f9f9f9;
  border:
  1px solid #ddd;
  border-radius:
  10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-left: 70px;
  padding-right: 100px;
  max-width: 100%;
  overflow: hidden;
  max-height: 78vh;
}

.water-report-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh; /* Высота на весь экран */
  padding: 2vw;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .water-report-form {
    flex-direction: column;
    font-size: 1rem;
  }
  .selector-row {
    width: 100%;
  }
}
