{% extends "base.html" %}

{% block title %}Добавить данные{% endblock %}

{% block content %}
<script>
    function updateMonthLabels() {
        var quarter = document.getElementById('quarter').value;
        var months = {
            '1': ['Январь', 'Февраль', 'Март'],
            '2': ['Апрель', 'Май', 'Июнь'],
            '3': ['Июль', 'Август', 'Сентябрь'],
            '4': ['Октябрь', 'Ноябрь', 'Декабрь']
        };
        var selectedMonths = months[quarter] || [];

        document.getElementById('month1').innerText = selectedMonths[0] || 'Месяц 1';
        document.getElementById('month2').innerText = selectedMonths[1] || 'Месяц 2';
        document.getElementById('month3').innerText = selectedMonths[2] || 'Месяц 3';
    }
       document.addEventListener('DOMContentLoaded', function () {
            updateMonthLabels(); // Call once to set initial values based on default quarter
        });
</script>


<h1>Добавить данные</h1>
<form method="get" action="{{ url_for('frontend.add_data') }}">
    <label for="template">Выбрать шаблон:</label>
    <select id="template" name="template" onchange="this.form.submit()">
        <option value="">Выбрать шаблон</option>
        {% for template, fields in templates.items() %}
        <option value="{{ template }}" {% if template == selected_template %}selected{% endif %}>
            {% if template == 'report_template' %}Шаблон отчета{% elif template == 'excel_template_3.2' %}Excel Шаблон 3.2{% elif template == 'excel_template_3.1' %}Excel Шаблон 3.1{% elif template == 'Payment_calculation' %}Расчет оплаты{% else %}{{ template }}{% endif %}
        </option>
        {% endfor %}
    </select>
</form>

{% if selected_template %}
{% if selected_template == 'report_template' %}
<form method="post" action="{{ url_for('frontend.add_data', template=selected_template) }}">
    <label for="quarter">Квартал:</label>
    <select id="quarter" name="quarter" onchange="updateMonthLabels()" required>
        <option value="1">1 квартал</option>
        <option value="2">2 квартал</option>
        <option value="3">3 квартал</option>
        <option value="4">4 квартал</option>
    </select><br>

    <table border="1"  style=" margin-top: 20px; ">
        <thead>
            <tr>
                <th>Месяц</th>
                <th>Факт, тыс. м³</th>
                <th>Население, тыс. м³</th>
                <th>Прочее, тыс. м³</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="month1">Январь</td>
                <td><input type="text" id="fact_month1" name="fact_month1" required></td>
                <td><input type="text" id="population_month1" name="population_month1" required></td>
                <td><input type="text" id="others_month1" name="others_month1" required></td>
            </tr>
            <tr>
                <td id="month2">Февраль</td>
                <td><input type="text" id="fact_month2" name="fact_month2" required></td>
                <td><input type="text" id="population_month2" name="population_month2" required></td>
                <td><input type="text" id="others_month2" name="others_month2" required></td>
            </tr>
            <tr>
                <td id="month3">Март</td>
                <td><input type="text" id="fact_month3" name="fact_month3" required></td>
                <td><input type="text" id="population_month3" name="population_month3" required></td>
                <td><input type="text" id="others_month3" name="others_month3" required></td>
            </tr>
        </tbody>
    </table>

    <button type="submit" class="button btn btn-success " style=" margin-top: 20px; ">Отправить</button>
</form>
{% endif %}
{% if selected_template == 'excel_template_3.2' %}
        {% include 'form32.html' %}
{% endif %}
{% if selected_template == 'excel_template_3.1' %}
        {% include 'form31.html' %}
{% endif %}
{% if selected_template == 'Payment_calculation' %}
        {% include 'payment_calculation.html' %}
{% endif %}
{% endif %}
{% endblock %}

