{% extends "base.html" %}

{% block title %}Отчет о водных ресурсах{% endblock %}

{% block content %}
<div class="report-container">
    <h2>Сведения, полученные в результате учета объема забора (изъятия) водных ресурсов из водных объектов</h2>
    <form method="post" action="/api/submit_report/">
        <table class="report-table">
            <thead>
            <tr>
                <th colspan="2">за</th>
                <th>1</th>
                <th>квартал</th>
                <th>2024</th>
                <th>г.</th>
                <th>Форма 3.1</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2">Наименование - для юридического лица, для физического лица, в том числе индивидуального предпринимателя, - фамилия, имя, отчество (при наличии)</td>
                <td colspan="5"><input type="text" name="organization_name" value="ОАО 'СКЗК' г.Кемерово" /></td>
            </tr>
            <tr>
                <td colspan="2">Почтовый адрес организации</td>
                <td colspan="5"><input type="text" name="postal_address" value="650991, Кемеровская область, г.Кемерово, ул.Кузбасская,6" /></td>
            </tr>
            <tr>
                <td colspan="2">Организационно-правовая форма организации</td>
                <td colspan="5"><input type="text" name="legal_form" value="ОАО" /></td>
            </tr>
            <tr>
                <td colspan="2">ИНН</td>
                <td colspan="5"><input type="text" name="inn" value="4205153492" /></td>
            </tr>
            <tr>
                <td colspan="2">Бассейновый округ</td>
                <td colspan="5"><input type="text" name="basin_district" value="Верхнеобский" /></td>
            </tr>
            <tr>
                <td colspan="2">Наименование субъекта Российской Федерации</td>
                <td colspan="5"><input type="text" name="federal_subject" value="Кемеровская область – Кузбасс" /></td>
            </tr>
            <tr>
                <td colspan="2">Наименование и код гидрографической единицы</td>
                <td colspan="5"><input type="text" name="hydro_unit" value="13.01.03 Томь" /></td>
            </tr>
            <tr>
                <td colspan="2">Водохозяйственный участок и его код</td>
                <td colspan="5"><input type="text" name="water_section" value="13.01.03.003 Томь от г. Новокузнецк до г. Кемерово" /></td>
            </tr>
            <tr>
                <td colspan="2">Реквизиты документа, в соответствии с которым установлено право на забор (изъятие) водных ресурсов</td>
                <td colspan="5"><input type="text" name="document_reference" value="42-13.01.03.003-Р-ДХИО-С-2019-02664/00" /></td>
            </tr>
            <tr>
                <td colspan="2">Марка прибора водоучета</td>
                <td colspan="5"><input type="text" name="meter_brand" value="US800" /></td>
            </tr>
            <tr>
                <td colspan="2">Дата последней поверки, периодичность поверки</td>
                <td colspan="5"><input type="text" name="last_verification" value="28.07.2021 Метрологический интервал – 4 года" /></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="8">Страница 1</th>
            </tr>
            </tfoot>
        </table>

        <table class="report-table">
            <thead>
            <tr>
                <th>Наименование водного объекта-водоисточника</th>
                <th>вид водного объекта-водоисточника</th>
                <th>водного объекта-водоисточника</th>
                <th>категория и качества воды</th>
                <th>Номер водозабора</th>
                <th>Координаты водозабора северной широты</th>
                <th>Координаты водозабора восточной долготы</th>
                <th>Объем допустимого водо-забора, тыс. м³</th>
                <th>Фактический объем забора, тыс. м³</th>
                <th>в том числе по месяцам квартала</th>
                <th>всего</th>
                <th>1 месяц квартала</th>
                <th>2 месяц квартала</th>
                <th>3 месяц квартала</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" name="water_source_name" value="Томь" /></td>
                <td><input type="text" name="water_source_type" value="КАР/ОБь/2677" /></td>
                <td><input type="text" name="water_source_description" value="ПО" /></td>
                <td><input type="text" name="water_quality_category" /></td>
                <td><input type="text" name="water_intake_number" value="54" /></td>
                <td><input type="text" name="north_coordinate" value="59" /></td>
                <td><input type="text" name="east_coordinate" value="6" /></td>
                <td><input type="text" name="permissible_volume" value="6435.059" /></td>
                <td><input type="text" name="actual_volume" value="630.768" /></td>
                <td><input type="text" name="monthly_volume" /></td>
                <td><input type="text" name="total_volume" value="1993.300" /></td>
                <td><input type="text" name="month_1_volume" value="1860.700" /></td>
                <td><input type="text" name="month_2_volume" value="1776.800" /></td>
                <td><input type="text" name="month_3_volume" /></td>
            </tr>
            </tbody>
        </table>
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock %}
