/* App.css */
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #0087ff;
  border-bottom: 1px solid #ddd;
}

.header h1 {
  margin: 0;
  font-size: 18px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-button {
  background-color: #ff6666;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.main-layout {
  display: flex;
  flex: 1;
  background-color: #f9f9f9;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s;
}

.sidebar button:hover {
  background-color: #e6e6e6;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
}

.footer button {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.footer button:hover {
  background-color: #e6e6e6;
}



.quarter-selector {
  margin-bottom: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #f5f5f5;
}

input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}



/* Стили только для логина */
.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-page h2 {
  font-size: 24px; /* Увеличенный текст заголовка */
  margin-bottom: 20px;
  text-align: center;
}

.login-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 30px; /* Увеличенный внутренний отступ */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 350px; /* Увеличенная ширина формы */
}

.login-page form div {
  margin-bottom: 20px; /* Больше пространства между полями */
  width: 100%;
}

.login-page form label {
  display: block;
  margin-bottom: 8px; /* Увеличенный отступ между меткой и полем */
  font-size: 16px; /* Увеличенный текст меток */
  color: #333;
}

.login-page form input {
  width: 100%;
  padding: 12px; /* Увеличенный размер полей */
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; /* Увеличенный текст */
  box-sizing: border-box;
}

.login-page form .error {
  color: red;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.login-page form button {
  width: 100%; /* Ширина кнопки, как у полей ввода */
  padding: 12px; /* Увеличенный размер кнопки */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px; /* Увеличенный текст кнопки */
  box-sizing: border-box;
}

.login-page form button:hover {
  background-color: #0056b3;
}


/* Общий контейнер для формы */
.water-container {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  align-items: center;
}

/* Контейнер формы */
.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

.form-step {
  margin-bottom: 20px;
}

.water.h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

/* Стиль для групп ввода */
.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

.input-group input, .input-group select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-group input:focus, .input-group select:focus {
  border-color: #007bff;
  outline: none;
}

/* Кнопки навигации */
.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.navigation-buttons button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
  background-color: #0056b3;
}

.navigation-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Стили для таблицы */
.water.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.water.th, td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.water.thead {
  background-color: #f8f9fa;
}

.water.button {
  padding: 8px 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.water.button:hover {
  background-color: #218838;
}

.water.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Стиль для справки забора поверхности воды */

.water-report-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Высота на весь экран */
  padding: 20px;
  font-family: Arial, sans-serif;
  
}

.content-container {
  background-color: #f9f9f9; /* Светлый фон */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень */
  width: 80%; /* Опциональная ширина */
  max-width: 1200px; /* Максимальная ширина */
}

.selectors {
  margin-bottom: 20px;
}

.selector-row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.custom-select {
  padding: 5px 10px;
  font-size: 14px;
  width: 200px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.narrow-input {
  width: 200px;
  padding: 3px;
}

.submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Отступ сверху */
}

.organization-info {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.organization-info h2 {
  text-align: center;
  margin-bottom: 20px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}

.info-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.info-table td:first-child {
  font-weight: bold;
  background-color: #f1f1f1;
}
